<main>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="d-flex justify-content-center py-4">
                <a
                  href="index.html"
                  class="logo d-flex align-items-center w-auto"
                >
                  <img src="assets/img/logo.png" alt="" />
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div>
              <!-- End Logo -->
  
              <div class="card mb-3">
                <div class="card-header">
                  <div class="text-center">
                    <img src="../../../../assets/img/lock.png" class="img-fluid mx-auto rounded  mt-3" alt="" width="80">
                  </div>
                  
                </div>
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      ¿Tienes problemas para iniciar sesión?
                    </h5>
                    <p class="text-center small">
                      Por favor ingresa tu correo y te enviaremos un enlace para que vuelvas a entrar en tu cuenta.
                  </div>
  
                 <!-- Browser Default Validation -->
              <form class="row g-3 ">
                <div class="col-md-12">
                  <label for="validationDefault01" class="form-label"></label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="Correo electrónico" required>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Enviar enlace de acceso</button>
                </div>
                <div class="col-12 text-center">
                  <p class="small mb-0"><a routerLink="/home/register" class="fw-bold">Crear cuenta</a></p>
                </div>
              </form>
              <!-- End Browser Default Validation -->
                </div>
                <div class="card-footer text-center">
                  <p class="small mb-0"><a routerLink="/home/login" class="fw-bold">Volver al inicio de sesión</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- End #main -->
  